{% extends 'base.html' %}

{% block content %}
<div class="form-inline buttons">
	<a href="{% url 'core:update_product' queryset.id %}">
		<button class="btn btn-warning pull-right" value="Save">
			<i class="bi bi-pencil"></i>
			Editar
		</button>
	</a>
</div>

<h1><b>{{queryset.product}}</b></h1>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>NCM</th>
						<th>Quantidade</th>
						<th>Preço de venda</th>
						<th>ipi</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ queryset.ncm }} </td>
						<td>{{ queryset.stock }}</td>
						<td>{{ queryset.price }}</td>
						<td>{{ queryset.ipi}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr>

		<p>
			<a href="{% url 'core:product_list' %}"><span class="glyphicon glyphicon-chevron-left">Voltar</span></a>
		</p>
	</div>


{% endblock content %}